<extend name="template/Maruti/common.html"/>
<block name="body">
<style>

.box1{ 
	background-color:#FFF;
	width:311px;
	height:311px;
	border:3px solid transparent; 
	overflow: hidden !important; 
	text-align: left;
	position:absolute;
	-moz-border-image:url(__IMG__/css-border-bg.jpg) 3 3 round;  /* Old Firefox */	
	-webkit-border-image:url(__IMG__/css-border-bg.jpg) 3 3 round;    /* Safari */	
	-o-border-image:url(__IMG__/css-border-bg.jpg) 3 3 round;   /* Opera */	
	border-image:url(__IMG__/css-border-bg.jpg) 3 3 round; 
	box-shadow:8px 10px 20px #b6b6b6;
    top: 30%;
	left:30%;
	display:none;
	z-index:9999;
}  
 .normal_text {
    padding: 15px 10px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
} 
.box1 .controls{
	margin-left: 20%;
}
.box1 label{
	height:50px;
	margin-top:13px;
}
.box {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:2;
    background-color: grey;
    opacity: 0.5;
    /*兼容IE8及以下版本浏览器*/
    filter: alpha(opacity=30);
    display:none;
}
</style>
		<div id="content">
		  <div id="content-header">
			<div id="breadcrumb"> <a href="__ROOT__/index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a> <a href="__ROOT__/deposit.html" class="current">代客充值</a> </div>
		  </div>
			<notempty name="twoMenu">
			  <div  class="quick-actions_homepage">
				<ul class="quick-actions">
					<foreach name="twoMenu" item="two_menu">
					  <li> <a href="__ROOT__/[{$two_menu.tip}]"> <i class="[{$two_menu.icon}]"></i>[{$two_menu.title}]</a> </li>
					</foreach>
				</ul>
			  </div>
		  </notempty>
		  
			<div class="container-fluid">
		<div class="row-fluid" id="select_map">
					<div class="span12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon">
									<i class="icon-align-justify"></i>									
								</span>
								<h5>订单详情</h5>
							</div>
							<div class="widget-content nopadding">
								<form action="__SELF__" method="get" class="myform form-horizontal">
									<div class="control-group">
										<label class="control-label">用户手机号:</label>											
										<div class="controls">
											<input name="mobile" type="text" class="span3" placeholder="用户手机号"   />
											<div><error class="color-red hidden"></error></div> 
										</div>
										
									</div>									
									<div class="control-group" id="total_money"  >
                                        <label class="control-label">充值金额:</label>
                                        <div class="controls">
											<input type="text" name="total" placeholder="充值金额" class="span3 int">
											<div><error class="color-red hidden"></error></div> 
                                        </div>
                                    </div>
									<div class="control-group"  id="money" style="display:none">
                                        <label class="control-label">支付金额:</label>
                                        <div class="controls">
											<input type="text"  name="money" class="span3" readonly='readonly' >
                                        </div>
                                    </div>											
                                    <div class="control-group">
										<label class="control-label">短信验证码:</label>
										<div class="controls ">									
											<input type="text" name="captcha"  placeholder="短信验证码" class="span2"  /><button type="button" class="btn btn-success"  id="get_captcha">获取验证码</button>														
											<div><error class="color-red hidden"></error></div> 
										</div>
									</div>                     													
									<div class="form-actions">
										<button type="button" class="btn btn-success " id="confirm_submit">立即支付</button>
									</div>
								</form>
							</div>
						</div>						
					</div>
				</div>
       
      </div>
		</div>
	</div>
</div>
<div class="box"></div>
	<div class="box1">	
           <form  class="form-vertical" action="__SELF__"> 
			<div class="control-group normal_text"><h3>支付方式</h3></div>
               <div class="control-group">										
					<div class="controls">
						<label><input type="radio" name="pay_type"  value="1">pos机</label>
						
						<label><input type="radio" name="pay_type" value="3" checked>现金</label>														
					</div>
				</div>  
                <div class="form-actions">                   
                    <span class=""><input  id='submit_deposit' type="button" class="btn btn-success" value="确认支付" /></span>
                </div>
            </form>
	</div>

<script src="__JS__/jquery.min.js"></script> 
<script src="__JS__/jquery.ui.custom.js"></script> 
<script src="__JS__/bootstrap.min.js"></script> 
<script src="__JS__/select2.min.js"></script> 
 <script src="__JS__/bootstrap-datepicker.js"></script>
 <script src="__JS__/bootstrap-colorpicker.js"></script>
<script src="__JS__/jquery.dataTables.min.js"></script> 
 <script src="__JS__/jquery.uniform.js"></script>
<script src="__JS__/maruti.js"></script> 
<script src="__JS__/maruti.tables.js"></script>
 <script src="__JS__/maruti.form_common.js"></script>
<script src="__JS__/maruti.popup.js"></script>
<script src="__JS__/maruti.ajax.js"></script>
<script>
$(document).on('blur','input',function(){
  var name=$(this).attr('name');
  var vlaue=$(this).val();
  switch(name)
  {
	case "mobile":
	if(vlaue.length==0||isPhone(vlaue)==false){
			$(this).addClass('redborder');
			$(this).siblings('div').find('error').html("<span>*</span>请输入正确手机号码");
			$(this).siblings('div').find('error').removeClass('hidden');
			$("#confirm_submit").attr("disabled",true);
	}else{
		$(this).removeClass('redborder');
		$(this).siblings('div').find('error').html("");
		$(this).siblings('div').find('error').addClass('hidden');
		$("#confirm_submit").attr("disabled",false);
	}
	break;
	case "total":
	if(vlaue.length==0){
			$(this).addClass('redborder');
			$(this).siblings('div').find('error').html("<span>*</span>请输入充值金额");
			$(this).siblings('div').find('error').removeClass('hidden');
			$("#confirm_submit").attr("disabled",true);
			
	}else{
		$(this).removeClass('redborder');
		$(this).siblings('div').find('error').html("");
		$(this).siblings('div').find('error').addClass('hidden');
		$("#confirm_submit").attr("disabled",false);
		$('input[name="money"]').val(vlaue);
		$('#money').show();
	}
	break;
	case "captcha":
	if(vlaue.length==0){
			$(this).addClass('redborder');
			$(this).siblings('div').find('error').html("<span>*</span>请输入验证码");
			$(this).siblings('div').find('error').removeClass('hidden');
			$("#confirm_submit").attr("disabled",true);
			
	}else{
		$(this).removeClass('redborder');
		$(this).siblings('div').find('error').html("");
		$(this).siblings('div').find('error').addClass('hidden');
		$("#confirm_submit").attr("disabled",false);
	}
	break;
	}
})
				$('#get_captcha').click(function(){
			var mobile=$('input[name="mobile"]').val();									
			if(isPhone(mobile)==false){
				$("input[name='mobile']").addClass('redborder');
				$("input[name='mobile']").siblings('div').find('error').html("<span>*</span>请输入正确手机号码");
				$("input[name='mobile']").siblings('div').find('error').removeClass('hidden');
			}
			var url='[{:U('Deposit/mobile_check')}]';
			var data={};
			data['mobile']=mobile;
			data['money']=$('input[name="money"]').val();	
			$.post(url,data).success(function(data){
				if (data.status==1) {
					$('#popbox .controls').html('发送成功');
					center($("#popbox"));
					return false;
				}else{
					$('#popbox .controls').html(data['info']);
					center($("#popbox"));
					return false;
				}
			});
		})
		
		$('.box').click(function(){
			$('.box1').hide();
			$(this).hide();
		})
		$('#confirm_submit').click(function(){
			var mobile=$('input[name="mobile"]').val();	
			var stat=1;
				if(isPhone(mobile)==false){
					$("input[name='mobile']").addClass('redborder');
					$("input[name='mobile']").siblings('div').find('error').html("<span>*</span>请输入正确手机号码");
					$("input[name='mobile']").siblings('div').find('error').removeClass('hidden');
					stat=0;
				}

			var total=$('input[name="total"]').val();									
			if(total.length==0){
				$("input[name='total']").addClass('redborder');
				$("input[name='total']").siblings('div').find('error').html("<span>*</span>请输入充值金额");
				$("input[name='total']").siblings('div').find('error').removeClass('hidden');
				stat=0;
			}
			var captcha=$('input[name="captcha"]').val();									
			if(isPhone(mobile)==false){
				$("input[name='captcha']").addClass('redborder');
				$("input[name='captcha']").siblings('div').find('error').html("<span>*</span>请输入验证码");
				$("input[name='captcha']").siblings('div').find('error').removeClass('hidden');
				stat=0;
			}
			if(stat==1){
				$('.box1').show();
				$('.box').show();
			}
			
		})
		function isPhone(phone) { 
			 var pattern = /^1[34578]\d{9}$/; 
			 return pattern.test(phone); 
		}
		$('#submit_deposit').click(function(){
			var data=$('.myform').serialize()+'&'+$('.form-vertical').serialize();
			var url="[{:U('operate',array('type'=>'pay'))}]";
			var type=$('input[name="pay_type"]:checked').val();
			$.post(url,data).success(function(data){
				if (data.status==1) {
					if(type==3){
					$('.box1').hide();
					$('.box').hide();
					$('#popbox .controls').html('充值成功');
					center($("#popbox"));
					setTimeout(function(){
                       location.reload();
                    },1500);
					return false;
					}
					if(type==1){
					$('.box1').hide();
					$('.box').hide();
					$('#popbox .controls').html('<img src="'+data['info']+'"/>');
					center($("#popbox"));
					return false;
					}
				}else{
					$('.box1').hide();
					$('.box').hide();
					if(data['info']==undefined || data['info']=='undefined'){
					$('#popbox .controls').html('网络错误');
					center($("#popbox"));
					}else{
					$('#popbox .controls').html(data['info']);
					center($("#popbox"));
					}
					if(data['info']=='用户不存在'){
					setTimeout(function(){
                       window.location.href="[{:U('Member/operate',array('type'=>'add'))}]";
                    },1500);
					}
					return false;
				}
			});
		})
		//数据格式验证int
$(document).on('change',".int",function(){
	var val=parseInt($(this).val());
	if(isNaN(val) || val==0){
		$(this).val(1);
	}else{
		$(this).val(val);
		}
})
</script>
</body>
</block>