<extend name="template/Maruti/common.html"/>
<block name="body">
<style>
.classifyContainer {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    color: #848484;
    font-size: 14px;
    padding: 6px 20px;
}
.classifyContainer dl {
    border-bottom: 1px dashed #dcdcdc;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    width: 100%;
}
.classifyContainer dt, .classifyContainer .keyword {
    float: left;
    padding-right: 8px;
    text-align: right;
    width: 70px;
}
.classifyContainer dd {
    cursor: pointer;
    float: left;
    margin-right: 12px;
}
.classifyContainer dd span {
    padding: 2px 6px;
}
.classifyContainer .active, classifyContainer dd span:hover {
    background-color: #3d9fe1;
    border-radius: 4px;
    color: #fff;
}
.classifyContainer > div {
    height: 46px;
    line-height: 46px;
}
</style>
<div id="content">
 <div id="content-header">
    <div id="breadcrumb"> <a href="__ROOT__/index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a> <a href="__ROOT__/goods.html" class="current">商品列表</a> </div>
	<notempty name="twoMenu">
	  <div  class="quick-actions_homepage">
		<ul class="quick-actions">
			<foreach name="twoMenu" item="two_menu">
			  <li> <a href="__ROOT__/[{$two_menu.tip}]"> <i class="[{$two_menu.icon}]"></i>[{$two_menu.title}]</a> </li>
			</foreach>
		</ul>
	  </div>
	<else />
	 <h1>[{$two_title}]</h1>
	</notempty>
  </div>
  <div class="container-fluid">
		<div class="row-fluid" id="select_map" <neq name="select_status" value="1">style="display:none"</neq>>
					<div class="span12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon">
									<i class="icon-align-justify"></i>									
								</span>
								<h5>高级检索</h5>
							</div>
							<div class="widget-content nopadding">
								<form action="[{:U('index')}]" method="get" class="form-horizontal select-form">
									<div class="control-group">
										<label class="control-label">商品名称:</label>
										<div class="controls"><input name="goodsname" type="text" class="span3" placeholder="商品名称(模糊查找)" value="[{$_GET['username']?$_GET['username']:''}]"/> </div>
									</div>
                       
									<div class="control-group" id="classify">
										<label class="control-label">选择分类:</label>
										<div class="controls ">
											<div class="classifyContainer">
											<foreach name="classify" item="list">
												<dl>
													<dt data-id="[{$list.id}]">[{$list.title}]</dt>
													<notempty name="list['_']">
													<foreach name="list['_']" item="list_" key="key_2">
													<dd>
														<span class="<eq name="key_2" value="0">active</eq> <notempty name="list_['_']">data-tab</notempty>" data-id="[{$list_.id}]">[{$list_.title}]</span>
													</dd>
													</foreach>
													</notempty>
													
												</dl>
												<notempty name="list['_']">
												<foreach name="list['_']" item="list_">
													<notempty name="list_['_']">
														<dl class="class-tab class-[{$list_.id}] hide" style="height: auto; line-height: 30px">
														<dt style="min-height: 63px;"></dt>
															<foreach name="list_['_']" item="list__">
															<dd>
																<span data-id="[{$list__.id}]">[{$list__.title}]</span>
															</dd>
															</foreach>
														</dl>
													</notempty>
												</foreach>
												</notempty>
											</foreach>	
												
											</div>
												
									</div>
									</div>
									<div class="control-group">
										<label class="control-label">状态</label>
										<div class="controls">
										<empty name="_GET['status']">
											<label><input type="checkbox" name="status1" value="-1"/>无效商品</label>
											<label><input type="checkbox" name="status3" checked="checked" value="2"/>未上架</label>
											<label><input type="checkbox" name="status4" checked="checked" value="3"/>已上架</label>
										<else />
				
										<if condition="in_array(-1,$status)">
										<label><input type="checkbox" name="status1" checked="checked" value="-1"/>无效商品</label>
										<else />
										<label><input type="checkbox" name="status1" value="-1"/>无效商品</label>
										</if>
					
										<if condition="in_array(2,$status)">
										<label><input type="checkbox" name="status3" checked="checked" value="2"/>未上架</label>
										<else />
										<label><input type="checkbox" name="status3" value="2"/>未上架</label>
										</if>
										<if condition="in_array(3,$status)">
										<label><input type="checkbox" name="status4" checked="checked" value="3"/>已上架</label>
										<else />
										<label><input type="checkbox" name="status4" value="3"/>已上架</label>
										</if>
										</empty>
										</div>
									</div>                             
                                    <div class="control-group">
                                        <label class="control-label">时间区间</label>
                                        <div class="controls">
                                            <input type="text" name="starttime" data-date="[{:time_format(null,'Y-m-d')}]" data-date-format="yyyy-mm-dd" value="[{$_GET['starttime']}]" placeholder="开始时间 格式YYYY-MM-DD" class="datepicker" /> --
											<input type="text" name="endtime" data-date="[{:time_format(null,'Y-m-d')}]" data-date-format="yyyy-mm-dd" value="[{$_GET['endtime']}]" placeholder="结束时间 格式YYYY-MM-DD" class="datepicker" /><span style="margin-left:25px;">(开始时间默认为00:00:00、结束时间默认为23:59:59)</span>
                                        </div>
                                    </div>
									
									
                                    
									<div class="form-actions">
										<button type="submit" class="btn btn-success">立即查询</button>
									</div>
								</form>
							</div>
						</div>						
					</div>
				</div>
                
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
            <h5>商品列表</h5>
            <span class="label label-info <neq name="select_status" value="1">click-show<else />click-hide</neq>"><neq name="select_status" value="1"><i class="icon-search"></i>高级检索<else /><i class="icon-minus-sign"></i>关闭检索</span></neq></span> </div>
          <div class="widget-content">
		  <form name="myform" id="myform" method="post">
		  <span class="btn ajax-post confirm" url="[{:U('goods_status')}]" target-form="ids" style="padding:8px 12px;color:#333;background-color:#fff;border: 1px solid #ddd;"> <i class="icon-trash"></i> 批量删除</span>
		   <span class="btn" onclick=" window.location.href='[{:U('add')}]'" style="padding:8px 12px;color:#333;background-color:#fff;border: 1px solid #ddd;"> <i class="icon-plus"></i> 新增商品</span>
            <table class="table table-bordered table-striped with-check">
              <thead>
                <tr>
                  <th><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" /></th>
                  <th>商品id</th>
                  <th>商品名</th>
				  <th>积分价格</th>
				  <th>创建时间</th>
				  <th>是否推荐</th>
				  <th>状态</th>
				  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                <tr>
				<foreach name="_list" item="vo">
                  <td><input type="checkbox" class="ids" name="id[]" value="[{$vo.goodsid}]"  /></td>
                  <td>[{$vo.goodsid}]</td>
                  <td>[{$vo.goodsname}]</td>
                  <td>[{$vo.integral_pay}]</td>
				  <td>[{$vo.create_time|time_format='Y-m-d H:i:s'}]</td>
				  <td style="text-align:center;">
					<eq name="vo.recommend" value="0"><a class="btn btn-mini ajax-get" href="[{:U('recommend',array('id'=>$vo['goodsid'],'status'=>1))}]">荐</a></eq>
					<eq name="vo.recommend" value="1"><a class="btn btn-danger btn-mini ajax-get" href="[{:U('recommend',array('id'=>$vo['goodsid'],'status'=>0))}]">荐</a></eq>
				  </td>
				  <td>
					<eq name="vo.status" value="-1">无效商品</eq>
					<eq name="vo.status" value="2">未上架</eq>
					<eq name="vo.status" value="3">已上架</eq>
				  </td>
				    <td>
					<span class="fr">
					<a class="btn btn-info btn-mini" href="[{:U('review/index',array('id'=>$vo['goodsid']))}]">评论</a>
					<a class="btn btn-primary btn-mini" href="[{:U('edit',array('id'=>$vo['goodsid']))}]">详情</a>
					<neq name="vo.status" value="-1">
					<eq name="vo.status" value="3">
					<a class="btn btn-danger btn-mini confirm ajax-get" href="[{:U('goods_status',array('id'=>$vo['goodsid'],'status'=>2))}]">商品下架</a>
					</eq>
					<eq name="vo.status" value="2">
					<a class="btn btn-success btn-mini confirm ajax-get" href="[{:U('goods_status',array('id'=>$vo['goodsid'],'status'=>3))}]">商品上架</a>
					</eq>
					<a class="btn btn-danger btn-mini confirm ajax-get" href="[{:U('goods_status',array('id'=>$vo['goodsid'],'status'=>-1))}]">删除商品</a>
					</neq>
					</span>
					</td>
                </tr>
				</foreach>
              </tbody>
            </table>
			</form>
			 <div class="dataTables_paginate fg-buttonset ui-buttonset fg-buttonset-multi ui-buttonset-multi paging_full_numbers">
			[{$_page}]
			 </div>
          </div>
        </div>
       
      </div>
    </div>
  </div>
</div>

<script src="__JS__/jquery.min.js"></script> 
<script src="__JS__/jquery.ui.custom.js"></script> 
<script src="__JS__/bootstrap.min.js"></script> 
<script src="__JS__/select2.min.js"></script> 
 <script src="__JS__/bootstrap-datepicker.js"></script>
 <script src="__JS__/bootstrap-colorpicker.js"></script>
<script src="__JS__/jquery.dataTables.min.js"></script> 
 <script src="__JS__/jquery.uniform.js"></script>
<script src="__JS__/maruti.js"></script> 
<script src="__JS__/maruti.tables.js"></script>
 <script src="__JS__/maruti.form_common.js"></script>
<script src="__JS__/maruti.popup.js"></script>
<script src="__JS__/maruti.ajax.js"></script>
<script>
$(document).ready(function(){
	var classid='[{$_GET['classid']}]';
	classid=classid.split(",");
	if(classid!=''){
		$(".classifyContainer dl dd span").each(function(i){
				var data=$(this).attr('data-id');
					if($.inArray(data,classid)>=0){
					$(this).click();
					}				
		})
		}
})
$(document).on('click','.click-show',function(){
$("#select_map").show();
$(this).html('<i class="icon-minus-sign"></i>关闭检索</span>');
$(this).addClass('click-hide');
$(this).removeClass('click-show');	

})
$(document).on('click','.click-hide',function(){
$("#select_map").hide();
$(this).html('<i class="icon-search"></i>高级检索</span> ');
$(this).addClass('click-show');
$(this).removeClass('click-hide');	

})
$("#nickname .dropdown-menu li a").click(function(){
	var userid=$(this).attr('data-id');
	var nickname=$(this).html();
	$("input[name='userid']").val(userid);
	$(this).parent().parent().siblings('.nickname').html(nickname);

})
$(".classifyContainer dl dd span").click(function(){
	$(this).parent().parent().find('span').removeClass('active');
	$(this).addClass('active');
	if($(this).hasClass('data-tab')){
	var data=$(this).attr('data-id');
		if(data){
			$(".class-tab").hide();
			$(".class-tab dd span").removeClass('active');
			$(".class-"+data).show();
		}
		}
})
$(".classifyContainer dl dd span").each(function(i){
	if($(this).hasClass('active')){
		var data=$(this).attr('data-id');
		if(data){
			$(".class-tab").hide();
			$(".class-"+data).show();
		}
	}
})
$(".select-form").submit(function(){
	var goodsname=$("input[name='goodsname']").val();
	var status1=$("input[name='status1']").is(':checked');
	var status2=$("input[name='status2']").is(':checked');
	var status3=$("input[name='status3']").is(':checked');
	var status4=$("input[name='status4']").is(':checked');
	var status4=$("input[name='status4']").is(':checked');
	var starttime=$("input[name='starttime']").val();
	var endtime=$("input[name='endtime']").val();
	var status='';
	var b="";
	if(status1){
		status+=-1+",";
	}
	if(status2){
		status+=1+",";
	}
	if(status3){
		status+=2+",";
	}
	if(status4){
		status+=3+",";
	}
	if(status!=''){
	status=status.substring(0,status.length-1);
	
		b+="/status/"+status;
	}
	if(goodsname.length>0){
			b+="/goodsname/"+goodsname;
	}
		var classid='';
		$("#classify .classifyContainer dl dd span").each(function(i){
		
		if($(this).hasClass('active')){
		var data=$(this).attr('data-id');
			if(data>0){
			classid+=data+",";
			}
		}
		})
		if(classid!=''){
		classid=classid.substring(0,classid.length-1);
		b+="/classid/"+classid;
		}
		
	if(starttime.length>0){
			b+="/starttime/"+starttime;
	}
	if(endtime.length>0){
			b+="/endtime/"+endtime;
	}
	var url='[{:U("indexabc")}]';
		url=url.replace('abc',b);
                window.location.href=url;
                return false;
	
return false;
})
</script>
</body>
</block>