<extend name="template/Maruti/common.html"/>
<block name="body">
<script src="__JS__/jquery.min.js"></script> 
<style>
.classifyContainer {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    color: #848484;
    font-size: 14px;
    padding: 6px 20px;
}
.classifyContainer dl {
    border-bottom: 1px dashed #dcdcdc;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    width: 100%;
}
.classifyContainer dt, .classifyContainer .keyword {
    float: left;
    padding-right: 8px;
    text-align: right;
    width: 70px;
}
.classifyContainer dd {
    cursor: pointer;
    float: left;
    margin-right: 12px;
}
.classifyContainer dd span {
    padding: 2px 6px;
}
.classifyContainer .active, classifyContainer dd span:hover {
    background-color: #3d9fe1;
    border-radius: 4px;
    color: #fff;
}
.classifyContainer > div {
    height: 46px;
    line-height: 46px;
}
</style>
<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="__ROOT__/index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a> <a href="__ROOT__/goods.html" class="current">商品管理</a> </div>
	<h1>新增商品</h1>
  </div>
  <div class="container-fluid">
		<div class="row-fluid" id="select_map">
					<div class="span12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon">
									<i class="icon-align-justify"></i>									
								</span>
								<h5>新增商品</h5>
							</div>
							<div class="widget-content nopadding">
								<form action="__SELF__" method="post" class="myform form-horizontal">
									<div class="control-group">
										<label class="control-label">商品名称:</label>
			
										<div class="controls"><input name="goodsname" type="text" class="span3" placeholder="商品名称" value=""/>
										<div><error class="color-red hidden"></error></div></div>
									</div>
                                            
                                    <div class="control-group">
                                        <label class="control-label">商品封面:</label>
                                        <div class="controls">
										<img class="goods_img" style="width:150px" src="__IMAGES__/add.jpg" onclick="getElementById('inputfile').click()">
										<input class="common-text required imageFile" name="img_url" value="" type="hidden">
										<div style="display:none">
										<input type="file" accept="image/*"  name="image2" multiple="multiple" style="width:100%;opacity:0;filter:alpha(opacity=0);" id="inputfile"/>
										</div>
										
										</div>
									</div>
									<div class="control-group" id="classify">
										<label class="control-label">选择分类:</label>
										<div class="controls ">
											<div class="classifyContainer">
											<foreach name="classify" item="list">
												<dl>
													<dt data-id="[{$list.id}]">[{$list.title}]</dt>
													<notempty name="list['_']">
													<foreach name="list['_']" item="list_" key="key_2">
													<gt name="key_2" value="0">
													<dd>
														<span class="" <notempty name="list_['_']">data-tab</notempty>" data-id="[{$list_.id}]">[{$list_.title}]</span>
													</dd>
													</gt>
													</foreach>
													</notempty>
													
												</dl>
												
											</foreach>	
												
											</div>
												
										</div>
									</div>
                                   <!--  <div class="control-group">
										<label class="control-label">售价:</label>
			
										<div class="controls"><input name="money" type="text" class="span3" placeholder="售价" value=""/><div><error class="color-red hidden"></error></div></div>
									</div> -->
									<div class="control-group">
										<label class="control-label">积分兑换价:</label>
			
										<div class="controls"><input name="integral_pay" type="text" class="span3" placeholder="积分兑换价" value="[{$data.integral_pay}]"/><div><error class="color-red hidden"></error></div></div>
									</div>
									<div class="control-group">
										<label class="control-label">限购（选填）:</label>
										<div class="controls"><input name="limit" type="text" class="span3 int" placeholder="限购数量 0表示不限购" value=""/><div><error class="color-red hidden"></error></div></div>
									</div>
									<div class="control-group">
										<label class="control-label">库存:</label>
										<div class="controls"><input name="inventory" type="text" class="span3 int" placeholder="库存数量" value=""/><div><error class="color-red hidden"></error></div></div>
									</div>
									<div class="control-group">
								<label class="control-label">发货方式:</label>
								<div class="controls">
									<div id="condition-list">															
										<div id="gift-condition">
												<div class="gift-c1">
													<label class="inlineLabel"><input type="checkbox" name="out_type_1" checked >物流</label>																																																																
												</div>
												<!-- <div class="gift-c1">
													<label class="inlineLabel"><input type="checkbox" id="gift-box" name="out_type_2" >兑换券</label>																									
														<div id="gift-item" <notempty name="info.least">style="display:block;"<else/>style="display:none;"</notempty>>
															<select name="giftSelect"id="giftSelect">
															<foreach name="card" item="vo">
																<option value="[{$vo.id}]">[{$vo.name}]</option>
															</foreach>
															</select>
														</div>																																							
												</div> -->
										</div>									
									</div>
									<div><error class="color-red hidden"></error></div>
								</div>
							</div>
							<div class="control-group">
							<div class="span12">
							<div class="widget-title">
								<span class="icon">
									<i class="icon-picture"></i>
								</span>
								<h5>商品轮播</h5>
							</div>
							<div class="widget-content">
								<ul class="thumbnails">
								<foreach name="data.banner" item="list_">
									<li class="span2">
										<a class="thumbnail lightbox_trigger" href="[{$list_}]">
											<img src="[{$list_}]" alt="" >
										</a>
										<div class="actions">
											<a class="item" title="" href="javascript:;"><i class="icon-pencil icon-white"></i></a>
											<a class="remove" title="" href="javascript:;"><i class="icon-remove icon-white"></i></a>
										</div>
									</li>
								</foreach>
									<li class="span2">
										<a class="thumbnail imgadd" href="javascript:;" onclick="getElementById('inputfile2').click()">
											<img src="__IMAGES__/img_add.jpg" alt="" >
										</a>
									</li>
								</ul>
								<div style="display:none">
									<input type="file" accept="image/*"  name="image2" multiple="multiple" style="width:100%;opacity:0;filter:alpha(opacity=0);" id="item"/>
									<input type="file" accept="image/*"  name="image2" multiple="multiple" style="width:100%;opacity:0;filter:alpha(opacity=0);" id="inputfile2"/>
								</div>
							</div>
							</div>
						</div>
								
									<div class="control-group">
                                        <label class="control-label">商品详情</label>
                                        <div class="controls">
											<textarea name="details" id="details">[{$data.details}]</textarea>
											[{:hook('adminArticleEdit',array('name'=>'details','value'=>$data['details']))}]
                                        </div>
                                    </div>	
									<div class="control-group">
                                        <label class="control-label">商品规格</label>
                                        <div class="controls">
											<textarea name="parameter" id="parameter">[{$data.parameter}]</textarea>
											[{:hook('adminArticleEdit',array('name'=>'parameter','value'=>$data['parameter']))}]
                                        </div>
                                    </div>									
									<div class="form-actions">
										<button type="submit" class="btn btn-success">新增商品</button>
											<button type="button" class="btn btn-warning"  onclick="window.location.href='__ROOT__/goods.html'">返回</button>
									</div>
								</form>
							</div>
						</div>						
					</div>
				</div>
       
      </div>
    </div>
  </div>
</div>


<script src="__JS__/jquery.ui.custom.js"></script> 
<script src="__JS__/bootstrap.min.js"></script> 
<script src="__JS__/select2.min.js"></script> 
 <script src="__JS__/bootstrap-datepicker.js"></script>
 <script src="__JS__/bootstrap-colorpicker.js"></script>
<script src="__JS__/jquery.dataTables.min.js"></script> 
 <script src="__JS__/jquery.uniform.js"></script>
<script src="__JS__/maruti.js"></script> 
<script src="__JS__/maruti.tables.js"></script>
 <script src="__JS__/maruti.form_common.js"></script>
<script src="__JS__/maruti.popup.js"></script>
<script src="__JS__/maruti.ajax.js"></script>
<script>
$(".classifyContainer dl dd span").click(function(){
	$(this).parent().parent().parent().find('span').removeClass('active');
	$(this).addClass('active');
})
$("input").blur(function(){
  
  var name=$(this).attr('name');
  var vlaue=$(this).val();
  switch(name)
  {
	case "goodsname":
	if(vlaue.length==0){
			$(this).addClass('redborder');
			$(this).siblings('div').find('error').html("<span>*</span>请输入商品名称");
			$(this).siblings('div').find('error').removeClass('hidden')
	}else{
		$(this).removeClass('redborder');
		$(this).siblings('div').find('error').html("");
			$(this).siblings('div').find('error').addClass('hidden')
	}
	break;
	case "inventory":
	if(vlaue.length==0){
			$(this).addClass('redborder');
			$(this).siblings('div').find('error').html("<span>*</span>请输入库存数量");
			$(this).siblings('div').find('error').removeClass('hidden')
	}else{
		$(this).removeClass('redborder');
		$(this).siblings('div').find('error').html("");
			$(this).siblings('div').find('error').addClass('hidden')
	}
	break;
	case "integral_pay":
	if(vlaue.length==0){
			$(this).addClass('redborder');
			$(this).siblings('div').find('error').html("<span>*</span>请输入积分兑换价");
			$(this).siblings('div').find('error').removeClass('hidden')
	}else{
		$(this).removeClass('redborder');
		$(this).siblings('div').find('error').html("");
			$(this).siblings('div').find('error').addClass('hidden')
	}
	break;
	case "num":
	if(vlaue.length==0){
			$(this).addClass('redborder');
			$(this).siblings('div').find('error').html("<span>*</span>请输入总手数");
			$(this).siblings('div').find('error').removeClass('hidden')
	}else{
		var val=parseInt(vlaue);
		if(isNaN(val)){
			val =0;
		}
		$(this).val(val);
		$(this).removeClass('redborder');
		$(this).siblings('div').find('error').html("");
		$(this).siblings('div').find('error').addClass('hidden')
	}
	break;
	case "money":
	if(vlaue.length==0){
			$(this).addClass('redborder');
			$(this).siblings('div').find('error').html("<span>*</span>请输入售价");
			$(this).siblings('div').find('error').removeClass('hidden')
	}else{
		var val=parseFloat(vlaue);
		if(isNaN(val)){
			val =0;
		}
		val=val.toFixed(2);
		$(this).val(val);
		$(this).removeClass('redborder');
		$(this).siblings('div').find('error').html("");
		$(this).siblings('div').find('error').addClass('hidden')
	}
	break;
	case "member_money":
	if(vlaue.length==0){
			$(this).addClass('redborder');
			$(this).siblings('div').find('error').html("<span>*</span>请输入vip优惠价");
			$(this).siblings('div').find('error').removeClass('hidden')
	}else{
	var val=parseFloat(vlaue);
		if(isNaN(val)){
			val =0;
		}
		val=val.toFixed(2);
		$(this).val(val);
		$(this).removeClass('redborder');
		$(this).siblings('div').find('error').html("");
		$(this).siblings('div').find('error').addClass('hidden')
	}
	break;
	case "limit":
	if(vlaue.length>0){		
	var val=parseInt(vlaue);
		if(isNaN(val)){
			val =0;
		}
		$(this).val(val);
	}
	break;
	case "vip_start_time":
	if(vlaue.length==0){
			$(this).addClass('redborder');
			$(this).siblings('div').find('error').html("<span>*</span>请输入vip招募开启时间");
			$(this).siblings('div').find('error').removeClass('hidden')
	}else{
		$(this).removeClass('redborder');
		$(this).siblings('div').find('error').html("");
		$(this).siblings('div').find('error').addClass('hidden')
	}
	break;
	case "vip_end_time":
	if(vlaue.length==0){
			$(this).addClass('redborder');
			$(this).siblings('div').find('error').html("<span>*</span>请输入vip招募结束时间");
			$(this).siblings('div').find('error').removeClass('hidden')
	}else{
		$(this).removeClass('redborder');
		$(this).siblings('div').find('error').html("");
		$(this).siblings('div').find('error').addClass('hidden')
	}
	break;
	case "vip_num":
	if(vlaue.length==0){
			$(this).addClass('redborder');
			$(this).siblings('div').find('error').html("<span>*</span>请输入vip招募份数");
			$(this).siblings('div').find('error').removeClass('hidden')
	}else{
		var val=parseInt(vlaue);
		if(isNaN(val)){
			val =0;
		}
		$(this).val(val);
		$(this).removeClass('redborder');
		$(this).siblings('div').find('error').html("");
		$(this).siblings('div').find('error').addClass('hidden')
	}
	break;
	case "vip_money":
	if(vlaue.length==0){
			$(this).addClass('redborder');
			$(this).siblings('div').find('error').html("<span>*</span>请输入vip优惠价");
			$(this).siblings('div').find('error').removeClass('hidden')
	}else{
	var val=parseFloat(vlaue);
		if(isNaN(val)){
			val =0;
		}
		val=val.toFixed(2);
		$(this).val(val);
		$(this).removeClass('redborder');
		$(this).siblings('div').find('error').html("");
		$(this).siblings('div').find('error').addClass('hidden')
	}
	break;
  }
 
});
$(".myform").submit(function(){
	details.sync();
	parameter.sync();
	var goodsname=$("input[name='goodsname']").val();
	var img_url=$("input[name='img_url']").val();
	var money=$("input[name='money']").val();
	var details2=$("#details").val();
	var parameter2=$("#parameter").val();
	var out_type_1=$("input[name='out_type_1']").is(":checked");
	var out_type_2=$("input[name='out_type_2']").is(":checked");
	var classid='';
		$("#classify .classifyContainer dl dd span").each(function(i){
		
		if($(this).hasClass('active')){
		var data=$(this).attr('data-id');
			if(data>0){
			classid+=data+",";
			}
		}
		})
		if(classid!=''){
			classid=classid.substring(0,classid.length-1);
		}
	var stat=1;
	if(goodsname.length==0){
			$("input[name='goodsname']").addClass('redborder');
			$("input[name='goodsname']").siblings('div').find('error').html("<span>*</span>请输入商品名称");
			$("input[name='goodsname']").siblings('div').find('error').removeClass('hidden');
			stat=0;
	}
	if(img_url.length==0){
			 $('#popbox .controls').html('请上传商品图片');
			center($("#popbox"));
			return false;
	}
	if(classid.length==0){
			 $('#popbox .controls').html('请选择商品分类');
			center($("#popbox"));
			return false;
	}
	if(money==''){
			$("input[name='money']").addClass('redborder');
			$("input[name='money']").siblings('div').find('error').html("<span>*</span>请输入售价");
			$("input[name='money']").siblings('div').find('error').removeClass('hidden');
			stat=0;
	}else if(money<=0){
			$("input[name='money']").addClass('redborder');
			$("input[name='money']").siblings('div').find('error').html("<span>*</span>售价必须大于0");
			$("input[name='money']").siblings('div').find('error').removeClass('hidden');
			stat=0;
	}	
	if(!out_type_1 && !out_type_2){
		 $('#popbox .controls').html('请选择发货方式');
			center($("#popbox"));
			return false;
	}
	if(out_type_1){
		out_type_1=1;
	}else{
		out_type_1=0;
	}
	if(out_type_2){
		out_type_2=1;
	}else{
		out_type_2=0;
	}
	var duihuan_id=$("#giftSelect").val();
	var youhui_id='';
	$("input[name='youhui']").each(function(i){
		
		if($(this).is(":checked")){
		var data=$(this).val();
			if(data>0){
			youhui_id+=data+",";
			}
		}
		})
		if(youhui_id!=''){
			youhui_id=youhui_id.substring(0,youhui_id.length-1);
		}
	if(stat==0){
			return false;
		}else{
		var iamges_list='';
		$('.span2').each(function(e){
		if(!$(this).is(":hidden")){
			var img_url=$(this).find('.lightbox_trigger').attr('href');
			if(img_url){
			iamges_list+=img_url+',';
			}
		}
		})
		
		if(iamges_list==''){
			$('#popbox .controls').html('请上传轮播图片');
			center($("#popbox"));
			return false;
		}
		if(iamges_list!=''){
			iamges_list=iamges_list.substring(0,iamges_list.length-1);
		}
			var url=$(this).attr('action');
			var query = {};
			query['goodsname']=goodsname;
			query['img_url']=$("input[name='img_url']").val();
			query['money']=money;
			query['classid']=classid;
			query['out_type_1']=out_type_1;
			query['out_type_2']=out_type_2;
			query['duihuan_id']=duihuan_id;
			query['youhui_id']=youhui_id;
			query['banner']=iamges_list;
			query['details']=details2;
			query['parameter']=parameter2;
			query['limit']=$("input[name='limit']").val();
			query['inventory']=$("input[name='inventory']").val();
			query['integral_pay']=$("input[name='integral_pay']").val();
			 $.post(url,query).success(function(data){
				 if (data.status==1) {
					 $('#popbox .controls').html('新增商品成功');
						center($("#popbox"));
						 setTimeout(function(){
                        if (data.url) {
                            location.href=data.url;
                        }else{
                            location.reload();
                        }
                    },1500);
				 }else{
					 switch(data.info)
					 {
						case -1:
						$("input[name='goodsname']").addClass('redborder');
						$("input[name='goodsname']").siblings('div').find('error').html("<span>*</span>商品名已存在");
						$("input[name='goodsname']").siblings('div').find('error').removeClass('hidden');
						break;
						default:
						alert("未知错误请联系管理员");
						break;
					 }
				 }
			});
	}	
	return false;	
})
$(document).on('click','.remove',function(){
	$(this).parent().parent('li').toggle(400);
});
$(document).on('click','.item',function(){
	$(".thumbnails li").removeClass('default');
	$(this).parent().parent('li').addClass('default');
	$("#item").click();
});
</script>
<script type="text/javascript">	
 $("#inputfile").change(function(){
     //创建FormData对象
     var data = new FormData();
     //为FormData对象添加数据
     //
     $.each($('#inputfile')[0].files, function(i, file) {
         data.append('imageFile', file);
     });
     $.ajax({
         url:"[{:U('File/update')}]",
         type:'POST',
         data:data,
         cache: false,
         contentType: false,    //不可缺
         processData: false,    //不可缺
         success:function(data){
			console.log(data);
				if(data.status==1){
				
				var url=data.path;
				$('.imageFile').val(url);
				var click="getElementById('inputfile').click()"
				$(".goods_img").attr('src',url);
				}
			   
         }
     });
		})
	$("#gift-box").click(function(){
		if($(this).is(":checked")){
			$("#gift-item").show();
		}else{
			$("#gift-item").hide();
		}
		
	})	
			 $("#inputfile2").change(function(){
     //创建FormData对象
     var data = new FormData();
     //为FormData对象添加数据
     //
     $.each($('#inputfile2')[0].files, function(i, file) {
         data.append('imageFile', file);
     });
     $.ajax({
         url:"[{:U('File/update')}]",
         type:'POST',
         data:data,
         cache: false,
         contentType: false,    //不可缺
         processData: false,    //不可缺
         success:function(data){
			console.log(data);
				if(data.status==1){
				
				var url=data.path;
				$('#imageFile').val('');
				var b='';
					b+='<li class="span2">';
					b+='<a class="thumbnail lightbox_trigger" href="'+url+'">';
					b+='<img src="'+url+'" alt="" >';
					b+='</a>';
					b+='<div class="actions">';
					b+='<a class="item" title="" href="javascript:;"><i class="icon-pencil icon-white"></i></a>';
					b+='<a class="remove" title="" href="javascript:;"><i class="icon-remove icon-white"></i></a>';
					b+='</div>';
					b+='</li>';
					b+='<li class="span2">';
					b+='<a class="thumbnail imgadd" href="javascript:;" onclick="getElementById(\'inputfile2\').click()">';
					b+='<img src="__IMAGES__/img_add.jpg" alt="" >';
					b+='</a>';
					b+='</li>';
					$('.imgadd').parent('li').remove();
					$('.thumbnails').append(b);
				}
			   
         }
     });
		})
		$("#item").change(function(){
     //创建FormData对象
     var data = new FormData();
     //为FormData对象添加数据
     //
     $.each($('#item')[0].files, function(i, file) {
         data.append('imageFile', file);
     });
     $.ajax({
         url:"[{:U('File/update')}]",
         type:'POST',
         data:data,
         cache: false,
         contentType: false,    //不可缺
         processData: false,    //不可缺
         success:function(data){
			console.log(data);
				if(data.status==1){
				
				var url=data.path;
				$('#item').val('');
				$(".thumbnails .default .lightbox_trigger").attr('href',url);
				$(".thumbnails .default .lightbox_trigger img").attr('src',url);
				}
			   
         }
     });
		})		
</script>
</body>
</block>