<extend name="template/Maruti/common.html"/>
<block name="body">

<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="__ROOT__/index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a> <a href="__ROOT__/member.html" class="current">会员管理</a> </div>
	<h1>批量生成会员卡</h1>
  </div>
  <div class="container-fluid">
		<div class="row-fluid" id="select_map">
					<div class="span12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon">
									<i class="icon-align-justify"></i>									
								</span>
								<h5>批量生成会员卡</h5>
							</div>
							<div class="widget-content nopadding">
								<form action="__SELF__" method="get" class="myform form-horizontal">									
									<div class="control-group">
										<label class="control-label">会员卡金额:</label>											
										<div class="controls"><input name="money" type="text" class="span3 int" placeholder="会员卡金额"  />
										<div id="error_name" ><error class="color-red hidden"></error></div>
										</div>
										
									</div>
									<div class="control-group">
										<label class="control-label">数量:</label>											
										<div class="controls"><input name="num" type="text" class="span3 int" placeholder="数量" /> 
										<div id="error_name" ><error class="color-red hidden"></error></div>
										</div>
										
									</div>										
									<div class="form-actions">
										<button type="button" id="confirm_submit" class="btn btn-success ajax-post" url="" target-form="myform">生成</button>
											<button type="button" class="btn btn-warning"  onclick="window.location.href='__ROOT__/membercard.html'">返回</button>
									</div>
								</form>
							</div>
						</div>						
					</div>
				</div>
       
      </div>
    </div>
  </div>
</div>

	

<script src="__JS__/jquery.min.js"></script> 
<script src="__JS__/jquery.ui.custom.js"></script> 
<script src="__JS__/bootstrap.min.js"></script> 
<script src="__JS__/select2.min.js"></script> 
 <script src="__JS__/bootstrap-datepicker.js"></script>
 <script src="__JS__/bootstrap-colorpicker.js"></script>
<script src="__JS__/jquery.dataTables.min.js"></script> 
 <script src="__JS__/jquery.uniform.js"></script>
<script src="__JS__/maruti.js"></script> 
<script src="__JS__/maruti.tables.js"></script>
 <script src="__JS__/maruti.form_common.js"></script>
<script src="__JS__/maruti.popup.js"></script>
<script src="__JS__/maruti.ajax.js"></script>
<script>
$(document).on('blur','input',function(){
  var name=$(this).attr('name');
  var vlaue=$(this).val();
  switch(name)
  {
	case "money":
	if(vlaue.length==0){
			$(this).addClass('redborder');
			$(this).siblings('div').find('error').html("<span>*</span>请输入会员卡金额");
			$(this).siblings('div').find('error').removeClass('hidden');
			$("#confirm_submit").attr("disabled",true);
	}else{
		$(this).removeClass('redborder');
		$(this).siblings('div').find('error').html("");
		$(this).siblings('div').find('error').addClass('hidden');
		$("#confirm_submit").attr("disabled",false);
	}
	break;
	case "num":
	if(vlaue.length==0){
			$(this).addClass('redborder');
			$(this).siblings('div').find('error').html("<span>*</span>请输入数量");
			$(this).siblings('div').find('error').removeClass('hidden');
			$("#confirm_submit").attr("disabled",true);
			
	}else{
		$(this).removeClass('redborder');
		$(this).siblings('div').find('error').html("");
		$(this).siblings('div').find('error').addClass('hidden');
		$("#confirm_submit").attr("disabled",false);

	}
	break;	
	}
})
$("#goodsname .dropdown-menu li a").click(function(){
	var goodsid=$(this).attr('data-id');
	var goodsname=$(this).html();
	$("input[name='goodsid']").val(goodsid);
	$(this).parent().parent().siblings('.goodsname').html(goodsname);

})
//数据格式验证int
$(document).on('change',".int",function(){
	var val=parseInt($(this).val());
	if(isNaN(val) || val==0){
		$(this).val(0);
	}else{
		$(this).val(val);
		}
})
</script>
<script>

		
		$('#confirm_submit').click(function(){
			var money=$('input[name="money"]').val();	
			var stat=1;
				if(money.length==0){
					$("input[name='money']").addClass('redborder');
					$("input[name='money']").siblings('div').find('error').html("<span>*</span>请输入会员卡金额");
					$("input[name='money']").siblings('div').find('error').removeClass('hidden');
					stat=0;
				}
			var num=$('input[name="num"]').val();									
			if(num.length==0){
				$("input[name='num']").addClass('redborder');
				$("input[name='num']").siblings('div').find('error').html("<span>*</span>请输入数量");
				$("input[name='num']").siblings('div').find('error').removeClass('hidden');
				stat=0;
			}			
			if(stat){
				var url='__SELF__';		
				var data={};
				data['num']=num;
				data['money']=money;				
				$.post(url,data).success(function(data){
					if (data.status==1) {
						$('#popbox .controls').html('创建成功');
						center($("#popbox"));						
						 setTimeout(function(){
						 
						location.href='__ROOT__/'+data.info.url;
						
						},1500);
							
					}else{
						$('#popbox .controls').html(data['info']);
						center($("#popbox"));
						return false;
					}
				});
			}							
		})

		function isPhone(phone) { 
			 var pattern = /^1[34578]\d{9}$/; 
			 return pattern.test(phone); 
		}
</script>
</body>
</block>