<extend name="template/Maruti/common.html"/>
<block name="body">
<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="__ROOT__/index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a> <a href="__ROOT__/payorder.html" class="current">充值管理</a> </div>
	<notempty name="twoMenu">
	  <div  class="quick-actions_homepage">
		<ul class="quick-actions">
			<foreach name="twoMenu" item="two_menu">
			  <li> <a href="__ROOT__/[{$two_menu.tip}]"> <i class="[{$two_menu.icon}]"></i>[{$two_menu.title}]</a> </li>
			</foreach>
		</ul>
	  </div>
	<else />
	 <h1>[{$two_title}]</h1>
	</notempty>
  </div>
  <div class="container-fluid">
		
                
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
            <h5>充值卡列表</h5>
             </div>
          <div class="widget-content">
		  <form name="myform" id="myform" method="post">
		  <eq name="_Auth" value="1">
		   <span class="btn" onclick=" window.location.href='[{:U('operate',array('type'=>'add'))}]'" style="padding:8px 12px;color:#333;background-color:#fff;border: 1px solid #ddd;"> <i class="icon-plus"></i> 新增充值卡</span>
		   </eq>
            <table class="table table-bordered table-striped with-check">
              <thead>
                <tr>
                  <th><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" /></th>
                  <th>ID</th>
                  <th>金额</th>
				  <th>赠送金额</th>
				  <eq name="_Auth" value="1">
				  <th>操作</th>
				  </eq>
                </tr>
              </thead>
              <tbody>
                <tr>
				<foreach name="_list" item="vo">
                  <td><input type="checkbox" class="ids" name="id[]" value="[{$vo.id}]"  /></td>
                  <td>[{$vo.id}]</td>
                  <td>[{$vo.money}]</td>
				   <td>[{$vo.give}]</td>
				   <eq name="_Auth" value="1">
				    <td>
					<span class="fr">
					<a class="btn btn-primary btn-mini" href="[{:U('operate',array('type'=>'edit','id'=>$vo['id']))}]">详情</a>
					<a class="btn btn-danger  btn-mini ajax-get" href="[{:U('operate',array('type'=>'status','id'=>$vo['id']))}]">删除</a>
					</span>
					</td>
				</eq>	
                </tr>
				</foreach>
              </tbody>
            </table>
			</form>
			 <div class="dataTables_paginate fg-buttonset ui-buttonset fg-buttonset-multi ui-buttonset-multi paging_full_numbers">
			[{$_page}]
			 </div>
          </div>
        </div>
       
      </div>
    </div>
  </div>
</div>

<script src="__JS__/jquery.min.js"></script> 
<script src="__JS__/jquery.ui.custom.js"></script> 
<script src="__JS__/bootstrap.min.js"></script> 
<script src="__JS__/select2.min.js"></script> 
 <script src="__JS__/bootstrap-datepicker.js"></script>
 <script src="__JS__/bootstrap-colorpicker.js"></script>
<script src="__JS__/jquery.dataTables.min.js"></script> 
 <script src="__JS__/jquery.uniform.js"></script>
<script src="__JS__/maruti.js"></script> 
<script src="__JS__/maruti.tables.js"></script>
 <script src="__JS__/maruti.form_common.js"></script>
<script src="__JS__/maruti.popup.js"></script>
<script src="__JS__/maruti.ajax.js"></script>
<script>
$(document).on('click','.click-show',function(){
$("#select_map").show();
$(this).html('<i class="icon-minus-sign"></i>关闭检索</span>');
$(this).addClass('click-hide');
$(this).removeClass('click-show');	

})
$(document).on('click','.click-hide',function(){
$("#select_map").hide();
$(this).html('<i class="icon-search"></i>高级检索</span> ');
$(this).addClass('click-show');
$(this).removeClass('click-hide');	

})
$("#type .dropdown-menu li a").click(function(){
	var typeid=$(this).attr('data-id');
	var type=$(this).html();
	$("input[name='type']").val(typeid);
	$(this).parent().parent().siblings('.type').html(type);
	if(typeid=='0'){
		$('#futures').hide();
		$('#classify').hide();
		$('#shares').hide();
	}else if(typeid=='1'){
		$('#futures').hide();
		$('#classify').show();
		$('#shares').hide();
	}else if(typeid=='2'){
	$('#futures').show();
		$('#classify').hide();
		$('#shares').hide();
	}else if(typeid=='3'){
		$('#futures').hide();
		$('#classify').hide();
		$('#shares').show();
	}

})
$("#nickname .dropdown-menu li a").click(function(){
	var userid=$(this).attr('data-id');
	var nickname=$(this).html();
	$("input[name='userid']").val(userid);
	$(this).parent().parent().siblings('.nickname').html(nickname);

})
$(".classifyContainer dl dd span").click(function(){
	$(this).parent().parent().find('span').removeClass('active');
	$(this).addClass('active');
	if($(this).hasClass('data-tab')){
	var data=$(this).attr('data-id');
		if(data){
			$(".class-tab").hide();
			$(".class-tab dd span").removeClass('active');
			$(".class-"+data).show();
		}
		}
})
$(".classifyContainer dl dd span").each(function(i){
	if($(this).hasClass('active')){
		var data=$(this).attr('data-id');
		if(data){
			$(".class-tab").hide();
			$(".class-"+data).show();
		}
	}
})
</script>
</body>
</block>