<extend name="template/Maruti/common.html"/>
<block name="body">
<div id="content"> 
  <div id="content-header">
    <div id="breadcrumb"> <a href="__ROOT__/index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a> <a href="__ROOT__/goods.html" class="current">商品列表</a> </div>
	<h1>评论详情</h1>
  </div>
  <div class="container-fluid">
		<div class="row-fluid" id="select_map">
					<div class="span12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon">
									<i class="icon-align-justify"></i>									
								</span>
								<h5>评论详情</h5>
							</div>
							<div class="widget-content nopadding">
								<form action="__SELF__" method="post" class="myform form-horizontal">
									<div class="control-group">
										<label class="control-label">评论人昵称:</label>
										<div class="controls"><input name="nickname" type="text" class="span3" placeholder="评论人昵称" value="[{$info.nickname}]"/>
										<div><error class="color-red hidden"></error></div></div>
									</div>
                                            
                                    <div class="control-group">
                                        <label class="control-label">评论人头像:</label>
                                        <div class="controls">
											<img class="img_path" style="width:150px" src="<empty name="info['headimgurl']">__IMAGES__/add.jpg<else />[{$info.headimgurl}]</empty>" onclick="getElementById('inputfile').click()">
											<input class="common-text required imageFile" name="headimgurl" value="[{$info.headimgurl}]" type="hidden">
											<div style="display:none">
											<input type="file" accept="image/*"  name="image2" multiple="multiple" style="width:100%;opacity:0;filter:alpha(opacity=0);" id="inputfile"/>
											</div>										
										</div>
									</div>
									<div class="control-group">
                                        <label class="control-label">评论内容</label>
                                        <div class="controls">
											<textarea name="title" id="title" style="margin: 0px; width: 407px; height: 162px;">[{$info.title}]</textarea>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">审核状态</label>
                                        <div class="controls">
                                        	<select name='status'>
                                        		<option value="0" <if condition="$info['status'] eq '0' ">selected</if>>未审核</option>
                                        		<option value="1" <if condition="$info['status'] eq '1' ">selected</if>>通过</option>
                                        	</select>
                                            <!-- //<a class="btn btn-danger btn-mini confirm ajax-get" ">未审核</a> -->
                                        </div>
                                    </div>										
									<div class="form-actions">
										<button type="submit" class="btn btn-success">保存</button>
											<button type="button" class="btn btn-warning"  onclick="window.location.href='[{:U('review/index',array('id'=>$_GET['id']))}]'">返回</button>
									</div>
								</form>
							</div>
						</div>						
					</div>
				</div>
       
      </div>
    </div>
  </div>
</div>

<script src="__JS__/jquery.min.js"></script> 
<script src="__JS__/jquery.ui.custom.js"></script> 
<script src="__JS__/bootstrap.min.js"></script> 
<script src="__JS__/select2.min.js"></script> 
 <script src="__JS__/bootstrap-datepicker.js"></script>
 <script src="__JS__/bootstrap-colorpicker.js"></script>
<script src="__JS__/jquery.dataTables.min.js"></script> 
 <script src="__JS__/jquery.uniform.js"></script>
<script src="__JS__/maruti.js"></script> 
<script src="__JS__/maruti.tables.js"></script>
 <script src="__JS__/maruti.form_common.js"></script>
<script src="__JS__/maruti.popup.js"></script>
<script>
$("#type .dropdown-menu li a").click(function(){
	var typeid=$(this).attr('data-id');
	var type=$(this).html();
	$('input[name="type"]').val(typeid);
	$(this).parent().parent().siblings('.type').html(type);
	$("#type").find('error').removeClass('redborder');
	$("#type").find('error').html("");
	$("#type").find('error').addClass('hidden')
});
$("input").blur(function(){
  
  var name=$(this).attr('name');
  var vlaue=$(this).val();
  switch(name)
  {
	case "title":
	if(vlaue.length==0){
			$(this).addClass('redborder');
			$(this).siblings('div').find('error').html("<span>*</span>请输入评论内容");
			$(this).siblings('div').find('error').removeClass('hidden')
	}else{
		$(this).removeClass('redborder');
		$(this).siblings('div').find('error').html("");
			$(this).siblings('div').find('error').addClass('hidden')
	}
	break;
	case "headimgurl":
	if(vlaue.length==0){
			$(this).addClass('redborder');
			$(this).siblings('div').find('error').html("<span>*</span>请上传评论人头像");
			$(this).siblings('div').find('error').removeClass('hidden')
	}else{
		$(this).removeClass('redborder');
		$(this).siblings('div').find('error').html("");
		$(this).siblings('div').find('error').addClass('hidden')
	}
	break;
	case "nickname":
	if(vlaue.length==0){
			$(this).addClass('redborder');
			$(this).siblings('div').find('error').html("<span>*</span>请输入评论人昵称");
			$(this).siblings('div').find('error').removeClass('hidden')
	}else{
	$(this).removeClass('redborder');
		$(this).siblings('div').find('error').html("");
		$(this).siblings('div').find('error').addClass('hidden')
	}
	break;
  }
 
});
$(".myform").submit(function(){
	var title=$("#title").val();
	var headimgurl=$("input[name='headimgurl']").val();
	var nickname=$("input[name='nickname']").val();
	var stat=1;
	if(title.length==0){
			$("#title").addClass('redborder');
			$("#title").siblings('div').find('error').html("<span>*</span>请输入评论内容");
			$("#title").siblings('div').find('error').removeClass('hidden');
			stat=0;
		}
		if(headimgurl.length==0){
			$("input[name='headimgurl']").addClass('redborder');
			$("input[name='headimgurl']").siblings('div').find('error').html("<span>*</span>请上传评论人头像");
			$("input[name='headimgurl']").siblings('div').find('error').removeClass('hidden');
			stat=0;
		}
		if(nickname.length==0){
			$("input[name='nickname']").addClass('redborder');
			$("input[name='nickname']").siblings('div').find('error').html("<span>*</span>请输入跳转连接");
			$("input[name='nickname']").siblings('div').find('error').removeClass('hidden');
			stat=0;
		}
	if(stat==0){
			return false;
		}else{
			 $.post("__SELF__",$(this).serialize()).success(function(data){
				 if (data.status==1) {
					 $('#popbox .controls').html('保存成功');
						center($("#popbox"));
						 setTimeout(function(){
                        if (data.url) {
                            location.href=data.url;
                        }else{
                            location.reload();
                        }
                    },1500);
				 }else{
					 $('#popbox .controls').html('保存失败');
						center($("#popbox")); 
				 }
			});
	}	
	return false;	
})
</script>
<script type="text/javascript">	
 $("#inputfile").change(function(){
     //创建FormData对象
     var data = new FormData();
     //为FormData对象添加数据
     //
     $.each($('#inputfile')[0].files, function(i, file) {
         data.append('imageFile', file);
     });
     $.ajax({
         url:"[{:U('File/update')}]",
         type:'POST',
         data:data,
         cache: false,
         contentType: false,    //不可缺
         processData: false,    //不可缺
         success:function(data){
			console.log(data);
				if(data.status==1){
				
				var url=data.path;
				$('.imageFile').val(url);
				var click="getElementById('inputfile').click()"
				$(".img_path").attr('src',url);
				}
			   
         }
     });
		})
</script>
</body>
</block>