<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="apple-mobile-web-app-capable" content="yes"/><!-- 是否启用 WebApp 全屏模式 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/><!-- 设置状态栏的背景颜色 -->
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no"/><!-- 禁止数字识自动别为电话号码 --><!-- 不让android识别邮箱 -->
	<title>中医馆分类</title>
	<link rel="stylesheet" type="text/css" href="__CSS__/common.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/style.css?v=1.4">
	<script type="text/javascript" src="__JS__/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="__JS__/resize.js"></script>
</head>
<body>
	<div class="title-info">
		分类
	</div>
	<div class="search-wrap clearfix">
		<div class="left search-item1">
			<div class="search-input">
				<input type="text" name="" placeholder="请输入关键字进行搜索">
			</div>
			<div class="search-btn">
				<button type="button"><i class="icon-search"></i></button>
			</div>
		</div>
		<div class="left search-item2">
			<a href="shop-car.html" class="s-link">
				<i class="icon-shopCar"></i>
			</a>
		</div>
	</div>
	<div class="type-wrap clearfix">
		<div class="left type-menu">
		<foreach name="tree" item="data">
			<div class="type-item <eq name="key" value="0">active </eq>" data-id="{$data.id}">
				{$data.title}
			</div>
		</foreach>	
		</div>
		<div class="left type-list">
		<foreach name="tree" item="data">
			<div class="type-box" id="type-{$data.id}" <neq name="key" value="0" >style="display: none"</neq>>
				<foreach name="data['_']" item="vo">
				<a href="{:U('Goods/lists',array('class'=>$vo['id']))}">
					<div class="type-top">
						{$vo.title}
					</div>
				</a>
				</foreach>
			</div>
			</foreach>
		</div>
	</div>
	<div class="nav-list clearfix">
		<a href="{:U('Shop/index')}" class="left nav-item">
			<i class="icon-nav-index"></i>
			<div class="nav-name">
				首页
			</div>
		</a>
		<a href="{:U('Classify/index')}" class="left nav-item ">
			<i class="icon-nav-type active"></i>
			<div class="nav-name active">
				分类
			</div>
		</a>
		<a href="{:U('About/golden')}" class="left nav-item">
			<i class="icon-nav-shopcar"></i>
			<div class="nav-name">
				购物车
			</div>
			<span class="tips-circle">0</span>
		</a>
		<a href="{:U('index/index')}" class="left nav-item">
			<i class="icon-nav-user "></i>
			<div class="nav-name ">
				个人中心
			</div>
		</a>
	</div>
<script type="text/javascript">
	$(function(){
		$(".type-item").on("click",function(){
			var attr = $(this).attr("data-id");
			$(this).addClass("active").siblings().removeClass("active");
			$("#type-"+attr).show().siblings().hide();
		})
	})
</script>
</body>
</html>