<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="apple-mobile-web-app-capable" content="yes"/><!-- 是否启用 WebApp 全屏模式 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/><!-- 设置状态栏的背景颜色 -->
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no"/><!-- 禁止数字识自动别为电话号码 --><!-- 不让android识别邮箱 -->
	<title>天辅安中医馆我的订单</title>
	<link rel="stylesheet" type="text/css" href="__CSS__/common.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/style.css">
	<script type="text/javascript" src="__JS__/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="__JS__/resize.js"></script>
	<script type="text/javascript" src="__JS__/common.js"></script>
</head>
<body>
	<div class="title-info">
		<a href="javascript:history.go(-1);" class="back-link">
			<i class="icon-left-arrow"></i>返回
		</a>
		订单详情
	</div>
	<div class="detail-info">
		<div class="detail-title">订单信息</div>
		<ul class="detail-list">
			<li>
				<span>订单编号：</span>
				<span>2015219626236296621</span>
			</li>
			<li>
				<span>收货地址：</span>
				<span>广东省江门市江华一路风阳街12号</span>
			</li>
			<li>
				<span>下单时间：</span>
				<span>2017-10-09 18:00:25</span>
			</li>
			<li>
				<span>订单状态：</span>
				<span class="detail-state">已完成</span>
			</li>
		</ul>
	</div>
	<div class="goods-detail">
		<div class="detail-title">商品信息</div>
		<div class="goods-info">
			<a href="order-detail.html" class="order-link clearfix">
				<div class="order-img-wrap left" style="background-image: url(__IMAGES__/sm-bg.png);">
					<div class="order-img-1">5000元</div>
					<div class="order-img-2">充值卡</div>
					<div class="order-img-3">送500元</div>
				</div>
				<div class="order-title left">天辅安中医馆5000元充值卡（送500元）</div>
				<div class="order-payInfo right">
					<div class="order-money">￥5000</div>
					<div class="order-num">数量：1</div>
				</div>
			</a>
		</div>
	</div>
	<div class="detail-info">
		<div class="detail-title">订单信息</div>
		<ul class="order-list">
			<li class="clearfix">
				<span class="left fs-14 detial-big">总额</span>
				<span class="right fs-15 detail-all-money">￥20000</span>
			</li>
			<li class="clearfix">
				<span class="left">运费</span>
				<span class="right fs-15 detail-grey">+￥20</span>
			</li>
			<li class="clearfix">
				<span class="left">订单总价</span>
				<span class="right fs-15 detail-grey">￥20020</span>
			</li>
			<li>
				<ul class="order-list order-detail-list">
					<li class="clearfix">
						<span class="left">代金券</span>
						<span class="right">2张</span>
					</li>
					<li class="clearfix">
						<span class="left">积分</span>
						<span class="right">200分</span>
					</li>
					<li class="clearfix">
						<span class="left">余额</span>
						<span class="right">￥20020</span>
					</li>
					<li class="clearfix">
						<span class="left">支付方式</span>
						<span class="right">微信支付</span>
					</li>
				</ul>
			</li>
			<li class="clearfix">
				<span class="left fs-14 detail-red">实付金额</span>
				<span class="right fs-15 detail-red">￥20000</span>
			</li>
			<li class="clearfix detail-mark">
				<span class="left">返积分</span>
				<span class="right">20020</span>
			</li>
		</ul>
	</div>
	<div class="detail-btn-wrap">
		<a href="javascript:;" class="detail-btn">评价</a>
	</div>
</body>
</html>