<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="apple-mobile-web-app-capable" content="yes"/><!-- 是否启用 WebApp 全屏模式 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/><!-- 设置状态栏的背景颜色 -->
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no"/><!-- 禁止数字识自动别为电话号码 --><!-- 不让android识别邮箱 -->
	<title>天辅安中医馆充值中心</title>
	<link rel="stylesheet" type="text/css" href="__CSS__/common.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/style.css">
	
	<script type="text/javascript" src="__JS__/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="__JS__/resize.js"></script>
	<script type="text/javascript" src="__JS__/common.js"></script>
</head>
</head>
<body class="bg-white">
	<div class="title-info">
		<a href="javascript:history.go(-1);" class="back-link">
			<i class="icon-left-arrow"></i>返回
		</a>
		充值中心
	</div>
	<div class="card-list mescroll" id="mescroll">
		<ul id="data-list">
		<foreach name="_list" item="vo">
			<li class="card-item" style="background-image: url(__IMAGES__/card-bg.png)">
				<a href="{:U('About/recharge_edit',array('id'=>$vo['id']))}" class="card-link">
					<span class="card-money-1">
						{$vo.money}元
					</span>
					<notempty name="vo['title']">
					<div class="card-money-2">
						（{$vo.title}）
					</div>
					</notempty>
				</a>
			</li>
		</foreach>	
		</ul>
	</div>

</body>
</html>