<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="apple-mobile-web-app-capable" content="yes"/><!-- 是否启用 WebApp 全屏模式 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/><!-- 设置状态栏的背景颜色 -->
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no"/><!-- 禁止数字识自动别为电话号码 --><!-- 不让android识别邮箱 -->
	<title>天辅安中医馆卡券详情</title>
	<link rel="stylesheet" type="text/css" href="css/common.css">
	<link rel="stylesheet" type="text/css" href="css/style.css?v=1.0">
	<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="js/resize.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
</head>
<body class="bg-white">
	<div class="title-info">
		<a href="javascript:history.go(-1);" class="back-link">
			<i class="icon-left-arrow"></i>返回
		</a>
		卡券详情
	</div>
	<div class="coupon-container">
		<div class="coupon-wrap">
			<div class="coupon-top">
				<img src="images/logo.png">
			</div>
			<div class="coupon-info">
				<div class="coupon-title">天辅安中医馆</div>
				<div class="coupon-type">100元代金券</div>
				<div class="coupon-btn-wrap">
					<a href="javascript:;" class="coupon-btn">去买单</a>
				</div>
				<div class="coupon-date">
					有效期2017-10-17 00:00:00至<br>
					2017-11-05 23:59:59
				</div>
			</div>
			<div class="coupon-text">
				<span class="coupon-item">不可与单品优惠叠加使用</span>
				<span class="coupon-item">到店支付使用</span>
				<span class="coupon-item">订单满499元可用，最高优惠100元</span>
			</div>
			<div class="coupon-link-wrap">
				<a href="javascript:;" class="coupon-link clearfix">
					<span>使用须知</span>
					<span class="arrow-right"></span>
				</a>
				<a href="javascript:;" class="coupon-link clearfix">
					<span>适用门店</span>
					<span class="arrow-right"></span>
				</a>
			</div>
		</div>
	</div>
</body>
</html>