<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="apple-mobile-web-app-capable" content="yes"/><!-- 是否启用 WebApp 全屏模式 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/><!-- 设置状态栏的背景颜色 -->
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no"/><!-- 禁止数字识自动别为电话号码 --><!-- 不让android识别邮箱 -->
	<title>中医馆个人资料</title>
	<link rel="stylesheet" type="text/css" href="__CSS__/common.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/style.css">
	<script type="text/javascript" src="__JS__/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="__JS__/resize.js"></script>
	<script type="text/javascript" src="__JS__/common.js"></script>
</head>
<body>
	<div class="title-info">
		<a href="javascript:history.go(-1);" class="back-link">
			<i class="icon-left-arrow"></i>返回
		</a>
		修改昵称
	</div>
	<div class="data-list">
		<form action="" class="data-form">
			<ul>
				<li>
					<input type="text" name="nickname" class="change-input" value="{$nickname}" id="nickname" placeholder="请输入你的昵称">
				</li>

			</ul>
			<div class="btn-wrap">
				<button type="button" class="save-btn">保存</button>
			</div>
		</form>
	</div>
	<!-- 提示弹窗 -->
	<div class="tips-box" style="display: none;"></div>
	<script type="text/javascript">
		$(function(){
			$(".save-btn").on("click",function(){
				if(!$("#nickname").val()){
					popup("昵称不能为空");
					return false;
				}
				var api_url="{:U('setUserInfo')}";
				var query ={};
				query['nickname']=$("#nickname").val();
				$.post(api_url,query).success(function(res){
				if(res.status==1){
				popup('保存成功');
				 setTimeout(function(){
                            location.reload();
                    },1500);
				return false;
				}else{
				popup(res.info);
				return false;
				}
					
			})
		})
	})	
	</script>
</body>
</html>