<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="apple-mobile-web-app-capable" content="yes"/><!-- 是否启用 WebApp 全屏模式 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/><!-- 设置状态栏的背景颜色 -->
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no"/><!-- 禁止数字识自动别为电话号码 --><!-- 不让android识别邮箱 -->
	<title>登录</title>
	<link rel="stylesheet" type="text/css" href="__CSS__/common.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/style.css">
	<script type="text/javascript" src="__JS__/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="__JS__/resize.js"></script>
	<script type="text/javascript" src="__JS__/jquery.validate.min.js"></script>
	<script type="text/javascript" src="__JS__/common.js"></script>
</head>
<body class="bg-white" style="min-height: 100%;">
	<div class="form-container">
		<div class="form-img">
			<img src="__IMAGES__/tianfuan.jpg">
		</div>
		<form action="index.html" id="login-form">
			<div class="login-item clearfix">
				<div class="left login-icon"><i class="icon-phone"></i></div>
				<div class="right login-input">
					<input type="tel" name="phone" placeholder="请填写您的手机号码" id="phone">
				</div>
			</div>
			<div class="login-item clearfix">
				<div class="left login-icon"><i class="icon-code"></i></div>
				<div class="right login-input">
					<input type="tel" name="code" placeholder="请填写验证码" id="code">
					<button type="button" class="get-code" onclick="countTime(this)">获取验证码</button>
				</div>
			</div>
			<div class="btn-item">
				<button type="submit" class="login-btn f-submit" id="submit-btn">登录</button>
			</div>
		</form>
	</div>
	<!-- 提示弹窗 -->
	<div class="tips-box" style="display: none;"></div>
	<script type="text/javascript">
		//获取验证码倒计时
		function countTime(ele){
				var regMobile=/^1[3,4,5,6,7,8,9]\d{9}$/;
				var phone = $("#phone").val();
				if(phone==""){
					popup("手机号码不能为空");
					return false;
				}else if(phone!="" && !regMobile.test(phone)){
					popup("请输入正确的手机号码");
					return false;
			}
			var t1 = 60;
			var timer = null;
			timer = setInterval(function(){
				t1--;
				if(t1>=0){
					ele.innerHTML = t1+"s";
					ele.setAttribute("disabled","disabled");
				}else{
					ele.innerHTML = "重新获取验证码";
					clearInterval(timer);
					ele.removeAttribute("disabled");
				}
			},1000);
			
				var url="{:U('mobile_check')}";
				var query ={};
				query['mobile']=phone;
				$.post(url,query).success(function(res){
					if(res.status==1){
					popup("发送成功");
					}else{
					popup("发送失败，"+res.info);
					}
				});
			
		}
		$(function(){
			$(".f-submit").on("click",function(){
				var regMobile=/^1[3,4,5,6,7,8,9]\d{9}$/;
				var phone = $("#phone").val();
				var code = $("#code").val();
				if(phone==""){
					popup("手机号码不能为空");
					return false;
				}else if(phone!="" && !regMobile.test(phone)){
					popup("请输入正确的手机号码");
					return false;
				}else{
					if(code==""){
						popup("验证码不能为空");
						return false;
					}
				}
				var up_url='{$url}';
				var url="{:U('submit')}";
				var query ={};
				query['mobile']=phone;
				query['code']=code;
				$.post(url,query).success(function(res){
					if(res.status==1){
						if(up_url){
						window.location.href=up_url; 
						}else{
						window.location.href="{:U('About/index')}"; 
						}
						
					}else{
					popup(res.info);
					}
				});
				return false;
			})
		})
	</script>
</body>
</html>